{% extends "blog/base.html" %}




{% block content %}
    <h3>Welcome to Musketeer Tech Blog!</h3>
    <h4> Introduction to this website:</h4>
    <p>Features: Authentication System | CRUD based Blog | Django Debug Toolbar </p>
    <p>Superuser: Register | Login/Logout | Post Blog | Control Comment | Edit Site </p>
    <p>Visitors: Make Comment | Review Author/Resume | Link to author's other websites</p>
    
    <h4>A little summary of myself:</h4>
    <p>I'm Yutong Liu, a Full Stack Software Engineer in Huawei Technologies currently. My daily work is to utilize my Full Stack skills to
    refactor, optimize and maintain our website for a higher user number.</p>      
    <p>I also significantly reduced company's data process procedure via template scripts development and database setup when
    I was in E-Joule.</p>       
    <p>If I may summarize myself in three tags, I'd like to tag me as a team player, a creative executor, and a fast learner.</p>

    <h4>I'm open to new postions now ~</h4>
{% endblock %}
