{% extends "blog/base.html" %}




{% block content %}
    <h3>Welcome to Musketeer Tech Blog!</h3>
    <h4> Introduction to this website:</h4>
    <p>Features: Authentication System | CRUD based Blog | Django Debug Toolbar </p>
    <p>Superuser: Register | Login/Logout | Post Blog | Control Comment | Edit Site </p>
    <p>Visitors: Make Comment | Review Author/Resume | Link to author's other websites</p>
    
    <h4>A little summary of myself:</h4>
    <p>I'm Yutong Liu, a Full Stack Software Engineer in Huawei Technologies currently. My daily work is to utilize my Full Stack skills to
    refactor, optimize and maintain our website for a higher user number.</p>      
    <p>I also significantly reduced company's data process procedure via template scripts development and database setup when
    I was in E-Joule.</p>       
    <p>If I may summarize myself in three tags, I'd like to tag me as a team player, a creative executor, and a fast learner.</p>

    <h4>I'm open to new postions now ~</h4>
    
    {% comment %} <h4>Details about my Career Path</h4>

    <p>When I was majoring Computational Materials Science in Washington University for my Master’s degree, I utilized the scientific software LAMMPS and supercomputer to conduct prediction, which inspired my interest in coding initially.</p>

    <p>During my first job in E-Joule, I wrote extensive programs using the engineering software EC-Lab and MATLAB. I noticed the amount of program output was massive and it's quite easy to make mistake when collecting data point manually. So I tried to expedite processing these scripts in a new method by writing template scripts in Python. I also established our company's database to reduced our data analysis time with a throughout self-study online. After I successfully accelerated our company's and data collecting and analysis time by 90% with a 95% reduction in manual error in results, I identified program developing as my true passion.</p>

    <p>After I realized my strength in software development, I am working as a freelance Full Stack Software Engineer at Fang88.com currently. The number of Monthly Active Users (MAU) of our application has increased by 25% ever since I joined the team. What I have done in Fang88.com can be roughly divided into 2 parts -- Frontend and Backend:</p>
    
    <p>On frontend side, I developed some responsive features for a better UI experience including Slide Show, Info-Window, Toggle Page, Marker Animation, and so on (JS/HTML/CSS/React). I also integrated signup/login system with Wechat, a third-party authentication like Facebook and Google+ (Python/Flask).</p>

    <p>On backend side, I maintained the database with the business logic of new housing like price and surrounding public facilities via JSON format geocode after implementing Google Maps and Google Street View API to display target real estate community data in AJAX (Python/MySQL).</p>

    <p>I am still working on some ongoing features for this app and advancing my skills such as developing a multi user blog with social features including comment and useful button (Python/ Django). I am also simulating an algorithm through MapReduce to implementing a lite search engine with item ranking and auto completion features (Java/Hadoop).</p>

    <p>I also keep advancing my technology stacks with multiple programming languages and frameworks through personal projects and certificated E-Learning resources in my spare time. All of them are directly or indirectly related to my work, which widened my vision and enlightened my thought to a great extent.</p> {% endcomment %}

 
{% endblock %}